<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>You are logged in. Dashboard page</h1>
    <ul>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
        <li><a href="{{url_for('view_children')}}">View Children</a></li>
        <li><a href="{{url_for('add_child')}}">Add Child</a></li>
    </ul>
</body>
</html>
