nav {
  background-color: #003399;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 1rem;
}

.flex-container.row {
  display: flex;
  flex-wrap: wrap;

}

.row {
  margin-right: 15px;
  margin-left: 15px;
}

.flex-item1 {
  background-color: white;
  width: 500px;
  transform: none;
  margin: 5px;
  padding-bottom: 10px;
}




h4 {
  color: #ffffff;
  font-size: 1rem;
  padding: 1rem;
  background-color: #2da5ad;
  border-radius: 10rem;
  text-align: center;
  width: 50%;

}

.display-4{
  text-align: center;
  margin: 10px 0px 0px 450px;
}


.centered-login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 300px;
  margin: auto;
  padding: 10px;
  border: 1px solid #020202;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;

}

.red-background {
  background-color: #caecec;
}

.login-head {
  text-align: center;
  margin-bottom: 10px;
}

.login-button {
  background-color: #2E7B81;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
  border-radius: 4px;

  
}

.red-button:hover {
  background-color: #20049c;
  color: white;
}


.button-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
 
}


.notification-popup {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}


.sidenav {
  border: 1px solid #b8c9db;
  background-color: #eff6fd;
  margin: 5px 0 5px 0;
  padding: 0;
}


.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0rem;
}

.nav-item {
  display: inline-block;
  padding: 0 15px 0 7px;
  position: relative;
}

.nav-item a {
  color: #065495;
  font-size: 21px;
  font-weight: bold;
  padding-left: 28px;
}

table {
  margin-bottom: 0px;
}


.btn-default {
  color: #fff;
  background-color: #0f12cf;
  border-color: #1707f1;
}

.btn- {
  color: #fff;
  background-color: #191b97;
  border-color: #1707f1;
}


a {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.my-custom-class {
  margin: 2px;
}

.card-header{
  text-align: center;
  background-color: #eff6fd;
  color: #065495;
  border: 1px solid #b8c9db;
  font-size: 1.2rem;
}


.tiny-text {
  color: #b8b8b8;
  font-size: 12px;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 0px;

}


.sidenav > a {
  color: #065495;
  height: 30px;
  padding: 5px 100px 40px 5px;
  font-size: 21px;
  font-weight: bold;
  padding-left: 28px;
  
}

.me-2{
  max-width: 180px;
}

.wider-column {
  min-width: 100px;
}

table td {
  width: 50%;
  text-align: center;
}

.table-bordered{
  width: 70%;
}


.custom-form {
  max-width: 500px;
  padding-left: 40px;

}


.label-edit{
  color: #003399;
  padding-bottom: 5px;
  font-size: 1.3rem;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 5px;  
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.download_a {
  text-decoration: none;
  color: blue;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;

}


th.center{
  text-align: center;
}