{% extends "base.html" %}

{% block title %}add child{% endblock %}

{% block page_content %}
  <div class="row mb-3">
    <div class="sidenav">
      <a href="{{ url_for('view_children') }}" class="nav-item">Back</a>
      <a href="{{ url_for('add_child') }}" class="nav-item">Refresh</a>
    </div>
  </div>
  <form method="POST" action="{{ url_for('add_child') }}">
    {{ form.csrf_token }}
    <div class="container">
      <div class="text-center">
        {{ form.submit(class_="btn btn-primary") }}
        </div>
      <div class="row">
        {% for field in form %}
          {% if field.type != 'SubmitField' and field.type != 'CSRFTokenField' %}
            <div class="col-md-4 mb-3">
              <div class="form-group">
                {% if field.type == 'BooleanField' %}
                  <div class="form-check">
                    {{ field(class_="form-check-input") }}
                    {{ field.label(class_="form-check-label") }}
                  </div>
                {% else %}
                  {{ field.label }}
                  {{ field(class_="form-control") }}
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </form>

{% endblock %}