{% extends "base.html" %}


{% block title %}add Family{% endblock %}


{% block page_content %}

    <h1>Add Family Information</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <th>Father's Name</th>
                <td>{{ form.pere_name() }}</td>
            </tr>
            <tr>
                <th>Mother's Name</th>
                <td>{{ form.maman_name() }}</td>
            </tr>
            <tr>
                <th>CIN</th>
                <td>{{ form.cin() }}</td>
            </tr>
            <tr>
                <th>Accord Parental pour l'Education</th>
                <td>{{ form.Accord_P_Education_parental() }}</td>
            </tr>
            <tr>
                <th>Education Non Formelle</th>
                <td>{{ form.Education_Non_Formelle() }}</td>
            </tr>
            <tr>
                <th>Lutte contre Travail des enfants</th>
                <td>{{ form.lutte_contre_Travail_des_enfants() }}</td>
            </tr>
            <tr>
                <th>Projet Sabab Mutasamih</th>
                <td>{{ form.Projet_Sabab_Mutasamih() }}</td>
            </tr>
            <tr>
                <th>CIDEAL Maroc</th>
                <td>{{ form.CIDEAL_Maroc() }}</td>
            </tr>
            <tr>
                <th>Attestation Scolaire</th>
                <td>{{ form.Attestation_scolaire() }}</td>
            </tr>
            <tr>
                <th>Photos</th>
                <td>{{ form.Photos() }}</td>
            </tr>
            <tr>
                <th>Photocopie CIN des Parents</th>
                <td>{{ form.photocopie_CIN_parents() }}</td>
            </tr>
            <tr>
                <th>Acte de Naissance</th>
                <td>{{ form.Acte_de_naissance() }}</td>
            </tr>
            <tr>
                <th>CIN du Jeune</th>
                <td>{{ form.CIN_du_jeune() }}</td>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
