{% extends "base.html" %}

{% block title %}Add Family{% endblock %}

{% block page_content %}
<div class="container">
  <h3 class="text-center my-4">Family Information</h3>
  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{ form.pere_name.label (class_="label-form")}}
          {{ form.pere_name(class_="form-control") }}
        </div>
        <div class="form-group">
          {{ form.maman_name.label(class_="label-form") }}
          {{ form.maman_name(class_="form-control") }}
        </div>
        <div class="form-group">
          {{ form.cin.label (class_="label-form")}}
          {{ form.cin(class_="form-control") }}
        </div>
        <div class="form-group form-check">
          {{ form.Accord_P_Education_parental(class_="form-check-input") }}
          {{ form.Accord_P_Education_parental.label(class_="label-form") }}
        </div>
        <div class="form-group form-check">
          {{ form.Education_Non_Formelle(class_="form-check-input") }}
          {{ form.Education_Non_Formelle.label(class_="label-form") }}
        </div>
        <div class="form-group form-check">
          {{ form.lutte_contre_Travail_des_enfants(class_="form-check-input") }}
          {{ form.lutte_contre_Travail_des_enfants.label(class_="label-form") }}
        </div>
        <div class="form-group form-check">
          {{ form.Projet_Sabab_Mutasamih(class_="form-check-input") }}
          {{ form.Projet_Sabab_Mutasamih.label(class_="label-form") }}
        </div>
        <div class="form-group form-check">
          {{ form.CIDEAL_Maroc(class_="form-check-input") }}
          {{ form.CIDEAL_Maroc.label(class_="label-form") }}
        </div>
        <div class="form-group">
          {{ form.Attestation_scolaire.label (class_="label-form")}}<br>
          {{ form.Attestation_scolaire(class_="form-control-file") }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-6">
          {{ form.Photos.label (class_="label-form")}}<br>
          {{ form.Photos(class_="form-control-file") }}
        </div>
        <div class="col-md-6">
          {{ form.photocopie_CIN_parents.label  (class_="label-form")}}
          {{ form.photocopie_CIN_parents(class_="form-control-file") }}
        </div>
        <div class="col-md-6">
          {{ form.Acte_de_naissance.label  (class_="label-form")}}
          {{ form.Acte_de_naissance(class_="form-control-file") }}
        </div>
        <div class="col-md-6">
          {{ form.CIN_du_jeune.label  (class_="label-form")}}
          {{ form.CIN_du_jeune(class_="form-control-file") }}
        </div>
        <input type="hidden" name="child_id" value="{{ child_id }}">
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
  {% endblock %}