{% extends "base.html" %}

{% block title %}Edit Family{% endblock %}

{% block page_content %}

<div class="row mb-3">
  <div class="sidenav">
    <li class="nav-item"><a href="{{ url_for('view_family', child_id=child_id) }}"> Back </a></li>
  </div>
</div>

<form method="POST" class="custom-form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="form-group">
    <label for="{{ form.pere_name.id }}" class="label-edit">{{ form.pere_name.label }}</label>
    {{ form.pere_name(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.maman_name.id }}" class="label-edit">{{ form.maman_name.label }}</label>
    {{ form.maman_name(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.cin.id }}" class="label-edit">{{ form.cin.label }}</label>
    {{ form.cin(class_="form-control") }}
  </div>

  <div class="form-group">
    <div class="form-check form-check-inline">
      {{ form.Accord_P_Education_parental(class_="form-check-input", checked=form.Accord_P_Education_parental.data) }}
      <label for="{{ form.Accord_P_Education_parental.id }}" class="form-check-label">{{ form.Accord_P_Education_parental.label }}</label>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check form-check-inline">
      {{ form.Education_Non_Formelle(class_="form-check-input", checked=form.Education_Non_Formelle.data) }}
      <label for="{{ form.Education_Non_Formelle.id }}" class="form-check-label">{{ form.Education_Non_Formelle.label }}</label>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check form-check-inline">
      {{ form.lutte_contre_Travail_des_enfants(class_="form-check-input", checked=form.lutte_contre_Travail_des_enfants.data) }}
      <label for="{{ form.lutte_contre_Travail_des_enfants.id }}" class="form-check-label">{{ form.lutte_contre_Travail_des_enfants.label }}</label>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check form-check-inline">
      {{ form.Projet_Sabab_Mutasamih(class_="form-check-input", checked=form.Projet_Sabab_Mutasamih.data) }}
      <label for="{{ form.Projet_Sabab_Mutasamih.id }}" class="form-check-label">{{ form.Projet_Sabab_Mutasamih.label }}</label>
    </div>
  </div>

  <div class="form-group">
    <div class="form-check form-check-inline">
      {{ form.CIDEAL_Maroc(class_="form-check-input", checked=form.CIDEAL_Maroc.data) }}
      <label for="{{ form.CIDEAL_Maroc.id }}" class="form-check-label">{{ form.CIDEAL_Maroc.label }}</label>
      <div class="form-group">
        <div class="upload_link">
        <div>
        <div class="custom-file">
          
          <label for="attestation_scolaire" class="custom-file-label">{{ form.Attestation_scolaire.label }}</label>
          {{ form.Attestation_scolaire(id="attestation_scolaire", class_="custom-file-input") }}
        </div>
        {% if family.Attestation_scolaire %}
          <p>Current file: <a class="a_file_name" href="{{ family.Attestation_scolaire }}" target="_blank" rel="noopener noreferrer">{{ family.Attestation_scolaire.split("/")[-1] }}</a></p>
        {% endif %}
      </div>
    
      <div class="form-group">
        <div class="custom-file">
          
          <label for="photos" class="custom-file-label">{{ form.Photos.label }}</label><br>
          {{ form.Photos(id="photos", class_="custom-file-input") }}
        </div>
        {% if family.Photos %}
          <p>Current file: <a class="a_file_name" href="{{ family.Photos }}" target="_blank" rel="noopener noreferrer">{{ family.Photos.split("/")[-1] }}</a></p>
        {% endif %}
      </div>

      <div class="form-group">
        <div class="custom-file">
          
          <label for="photocopie_CIN_parents" class="custom-file-label">{{ form.photocopie_CIN_parents.label }}</label>
          {{ form.photocopie_CIN_parents(id="photocopie_CIN_parents", class_="custom-file-input") }}
        </div>
        {% if family.photocopie_CIN_parents %}
          <p>Current file: <a class="a_file_name" href="{{ family.photocopie_CIN_parents }}" target="_blank" rel="noopener noreferrer">{{ family.photocopie_CIN_parents.split("/")[-1] }}</a></p>
        {% endif %}
      </div>
      
      <div class="form-group">
        <div class="custom-file">
          
          <label for="Acte_de_naissance" class="custom-file-label">{{ form.Acte_de_naissance.label }}</label>
          {{ form.Acte_de_naissance(id="Acte_de_naissance", class_="custom-file-input") }}
        </div>
        {% if family.Acte_de_naissance %}
          <p>Current file: <a class="a_file_name" href="{{ family.Acte_de_naissance }}" target="_blank" rel="noopener noreferrer">{{ family.Acte_de_naissance.split("/")[-1] }}</a></p>
        {% endif %}
      </div>
      
      <div class="form-group">
        <div class="custom-file">
          
          <label for="CIN_du_jeune" class="custom-file-label">{{ form.CIN_du_jeune.label }}</label><br>
          {{ form.CIN_du_jeune(id="CIN_du_jeune", class_="custom-file-input") }}
        </div>
        {% if family.Acte_de_naissance %}
          <p>Current file: <a class="a_file_name" href="{{ family.CIN_du_jeune }}" target="_blank" rel="noopener noreferrer">{{ family.CIN_du_jeune.split("/")[-1] }}</a></p>
        {% endif %}
      </div>
      </div>    
      <button type="submit" class="btn btn-primary">Update Family</button>
    </form>
  </div>
  {% endblock %}
