{% extends 'base.html' %}

{% block title %}Edit Child{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col-md-6">
    <h2>Edit Child information</h2>
  </div>
  <div class="col-md-6 text-right">
    <a href="{{ url_for('view_children') }}" class="btn btn-primary">Back to Children List</a>
  </div>
</div>

<form method="POST" class="custom-form">
  {{ form.hidden_tag() }}

  <div class="form-group">
    <label for="{{ form.name.id }}" class="label-edit">{{ form.name.label }}</label>
    {{ form.name(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.contact.id }}" class="label-edit">{{ form.contact.label }}</label>
    {{ form.contact(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.sex.id }}" class="label-edit">{{ form.sex.label }}</label>
    {{ form.sex(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.birthdate.id }}" class="label-edit">{{ form.birthdate.label }}</label>
    {{ form.birthdate(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.age.id }}" class="label-edit">{{ form.age.label }}</label>
    {{ form.age(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.quartier.id }}" class="label-edit">{{ form.quartier.label }}</label>
    {{ form.quartier(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.adresse.id }}" class="label-edit">{{ form.adresse.label }}</label>
    {{ form.adresse(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.situation_familliale.id }}" class="label-edit">{{ form.situation_familliale.label }}</label>
    {{ form.situation_familliale(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.fonction_pere.id }}" class="label-edit">{{ form.fonction_pere.label }}</label>
    {{ form.fonction_pere(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.fonction_mere.id }}" class="label-edit">{{ form.fonction_mere.label }}</label>
    {{ form.fonction_mere(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.fraterie.id }}" class="label-edit">{{ form.fraterie.label }}</label>
    {{ form.fraterie(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.problemes_sante.id }}" class="label-edit">{{ form.problemes_sante.label }}</label>
    {{ form.problemes_sante(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.niveau_scolaire.id }}" class="label-edit">{{ form.niveau_scolaire.label }}</label>
    {{ form.niveau_scolaire(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.date_arret_etudes.id }}" class="label-edit">{{ form.date_arret_etudes.label }}</label>
    {{ form.date_arret_etudes(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.experience_professionnelle.id }}" class="label-edit">{{ form.experience_professionnelle.label }}</label>
{{ form.experience_professionnelle(class_="form-control") }}

  </div>
  <div class="form-group">
    <label for="{{ form.demande.id }}" class="label-edit">{{ form.demande.label }}</label>
    {{ form.demande(class_="form-control") }}
  </div>
  <div class="form-group">
    <div class="form-check form-check-inline">
      {{ form.insertion_scolaire(class_="form-check-input") }}
      <label for="{{ form.insertion_scolaire.id }}" class="form-check-label">{{ form.insertion_scolaire.label }}</label>
    </div>
  </div>
  
  <div class="form-group">
    <div class="form-check form-check-inline">
      {{ form.insertion_salariale(class_="form-check-input") }}
      <label for="{{ form.insertion_salariale.id }}" class="form-check-label">{{ form.insertion_salariale.label }}</label>
    </div>
  </div>
  
  <div class="form-group">
    <div class="form-check form-check-inline">
      {{ form.Auto_emploi(class_="form-check-input") }}
      <label for="{{ form.Auto_emploi.id }}" class="form-check-label">{{ form.Auto_emploi.label }}</label>
    </div>
  </div>
  
  <div class="form-group">
    <label for="{{ form.Entry_date.id }}" class="label-edit">{{ form.Entry_date.label }}</label>
    {{ form.Entry_date(class_="form-control") }}
  </div>
<button type="submit" class="btn btn-primary">Update Child</button>

</form>
{% endblock %}