{% extends 'base.html' %}

{% block title %}Edit Child{% endblock %}

{% block page_content %}

<div class="row mb-3">
  <div class="sidenav">
    <a href="{{ url_for('view_children') }}" class="nav-item">Back</a>
  </div>
</div>

<form method="POST" class="custom-form">
  {{ form.hidden_tag() }}

  <div class="form-group">
    <label for="{{ form.name.id }}" class="label-edit">{{ form.name.label }}</label>
    {{ form.name(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.contact.id }}" class="label-edit">{{ form.contact.label }}</label>
    {{ form.contact(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.sex.id }}" class="label-edit">{{ form.sex.label }}</label>
    {{ form.sex(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.Date_naissance.id }}" class="label-edit">{{ form.Date_naissance.label }}</label>
    {{ form.Date_naissance(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.age.id }}" class="label-edit">{{ form.age.label }}</label>
    {{ form.age(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.Quartier.id }}" class="label-edit">{{ form.Quartier.label }}</label>
    {{ form.Quartier(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.Adresse.id }}" class="label-edit">{{ form.Adresse.label }}</label>
    {{ form.Adresse(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.situation_familliale.id }}" class="label-edit">{{ form.situation_familliale.label }}</label>
    {{ form.situation_familliale(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.Fonction_pere.id }}" class="label-edit">{{ form.Fonction_pere.label }}</label>
    {{ form.Fonction_pere(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.Fonction_mere.id }}" class="label-edit">{{ form.Fonction_mere.label }}</label>
    {{ form.Fonction_mere(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.Fraterie.id }}" class="label-edit">{{ form.Fraterie.label }}</label>
    {{ form.Fraterie(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.Problemes_sante.id }}" class="label-edit">{{ form.Problemes_sante.label }}</label>
    {{ form.Problemes_sante(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.Niveau_scolaire.id }}" class="label-edit">{{ form.Niveau_scolaire.label }}</label>
    {{ form.Niveau_scolaire(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.date_arret_etudes.id }}" class="label-edit">{{ form.date_arret_etudes.label }}</label>
    {{ form.date_arret_etudes(class_="form-control") }}
  </div>

  <div class="form-group">
    <label for="{{ form.Experience_professionnelle.id }}" class="label-edit">{{ form.Experience_professionnelle.label }}</label>
{{ form.Experience_professionnelle(class_="form-control") }}

  </div>
  <div class="form-group">
    <label for="{{ form.Demande.id }}" class="label-edit">{{ form.Demande.label }}</label>
    {{ form.Demande(class_="form-control") }}
  </div>
  <div class="form-group">
    <div class="form-check form-check-inline">
      {{ form.Insertion_scolaire(class_="form-check-input") }}
      <label for="{{ form.Insertion_scolaire.id }}" class="form-check-label">{{ form.Insertion_scolaire.label }}</label>
    </div>
  </div>
  
  <div class="form-group">
    <div class="form-check form-check-inline">
      {{ form.Insertion_salariale(class_="form-check-input") }}
      <label for="{{ form.Insertion_salariale.id }}" class="form-check-label">{{ form.Insertion_salariale.label }}</label>
    </div>
  </div>
  
  <div class="form-group">
    <div class="form-check form-check-inline">
      {{ form.Auto_emploi(class_="form-check-input") }}
      <label for="{{ form.Auto_emploi.id }}" class="form-check-label">{{ form.Auto_emploi.label }}</label>
    </div>
  </div>
  
  <div class="form-group">
    <label for="{{ form.Entry_date.id }}" class="label-edit">{{ form.Entry_date.label }}</label>
    {{ form.Entry_date(class_="form-control") }}
  </div>
<button type="submit" class="btn btn-primary">Update Child</button>

</form>
{% endblock %}