{% extends 'base.html' %}

{% block body_class %}red-background{% endblock %}

{% block title %}Login{% endblock %}

{% block page_content %}
<div class="login-body">

</div>
  
<div class="centered-login-box">
  <h1 class="login-head">Login :</h1>
  <form method="POST" action="" class="login-form">
    {{ form.hidden_tag() }}
    {{ form.username }}
    {{ form.password }}
    <div class="button-container">
    {{ form.submit (class_="login-button") }}
  </div>
  </form>
  <p class="tiny-text"> Power by  Diligencia Consulting © 2023</p>
</div>
{% endblock %}