{% extends 'dashboard.html' %}

{% block title %}View Children{% endblock %}

{% block page_content %}

<div class="sidenav">
    <ul class="navbar">
        <li class="nav-item"><a href="{{ url_for('view_children', child_id=child.id) }}"> Back </a></li>
        <li class="nav-item"><a href="{{ url_for('edit_family', child_id=child.id) }}">Edit</a></li>
    </ul>
</div>
    {% if family %}
        <div class="container">
          <table class="table table-bordered">
              <tr>
                  <th>Father's Name</th>
                  <td>{{ family.pere_name }}</td>
              </tr>
              <tr>
                  <th>Mother's Name</th>
                  <td>{{ family.maman_name }}</td>
              </tr>
              <tr>
                  <th>CIN</th>
                  <td>{{ family.cin }}</td>
              </tr>
              <tr>
                  <th>Accord Parental pour l'Education</th>
                  <td>{{ family.Accord_P_Education_parental  }}</td>
              </tr>
              <tr>
                  <th>Education Non Formelle</th>
                  <td>{{ family.Education_Non_Formelle  }}</td>
              </tr>
              <tr>
                  <th>Lutte contre Travail des enfants</th>
                  <td>{{ family.lutte_contre_Travail_des_enfants  }}</td>
              </tr>
              <tr>
                  <th>Projet Sabab Mutasamih</th>
                  <td>{{ family.Projet_Sabab_Mutasamih  }}</td>
              </tr>
              <tr>
                  <th>CIDEAL Maroc</th>
                  <td>{{  family.CIDEAL_Maroc  }}</td>
                  <tr>
                    <th>Attestation Scolaire</th>
                    <td>
                        {% if family.Attestation_scolaire %}
                            <a class="download_a" href="{{ family.Attestation_scolaire }}" download>Download Attestation Scolaire</a>
                        {% else %}
                            No file uploaded.
                        {% endif %}
                    </td>
                </tr>
                
                <tr>
                    <th>Photos</th>
                    <td>
                        {% if family.Photos %}
                            <a class="download_a" href="{{ family.Photos }}" download>Download Photos</a>
                        {% else %}
                            No file uploaded.
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>Photocopie CIN des Parents</th>
                    <td>
                        {% if family.Photos %}
                            <a class="download_a" href="{{ family.photocopie_CIN_parents }}" download>Download photocopie CIN parents</a>
                        {% else %}
                            No file uploaded.
                        {% endif %}
                    </td>
                </tr>           

            <tr>
                <th>Acte de Naissance</th>
                <td>{{  family.Acte_de_naissance  }}</td>
            </tr>
            <tr>
                <th>CIN du Jeune</th>
                <td>{{  family.CIN_du_jeune  }}</td>
            </tr>
            
        </table>
    </div>
{% else %}
    <p>No family information found for {{ child.name }}.</p>
{% endif %}
    
{% endblock %}
