<!DOCTYPE html>
<html>
<head>
  <title>View Children</title>
</head>
<body>
  <h1>Children List</h1> <a href="{{ url_for('dashboard') }}">Back</a>
  <form method="GET" action="{{ url_for('view_children') }}">
    <input type="text" name="search" value="{{ search_query }}" placeholder="Search by name...">
    <button type="submit">Search</button>
  </form>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Sex</th>
        <th>Birthdate</th>
        <th>Age</th>
        <th>Quartier</th>
        <th>Adresse</th>
        <th>Family situation</th>
        <th>Father's profession</th>
        <th>Mother's profession</th>
        <th>Number of siblings</th>
        <th>Health problems</th>
        <th>Education level</th>
        <th>Date stopped studying</th>
        <th>Work experience</th>
        <th>Job request</th>
        <th>School insertion</th>
        <th>Work insertion</th>
        <th>Self-employment</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for child in children %}
      <tr>
        <td>{{ child.name }}</td>
        <td>{{ child.contact }}</td>
        <td>{{ child.sex }}</td>
        <td>{{ child.Date_naissance }}</td>
        <td>{{ child.age }}</td>
        <td>{{ child.Quartier }}</td>
        <td>{{ child.Adresse }}</td>
        <td>{{ child.situation_familliale }}</td>
        <td>{{ child.Fonction_pere }}</td>
        <td>{{ child.Fonction_mere }}</td>
        <td>{{ child.Fraterie }}</td>
        <td>{{ child.Problemes_sante }}</td>
        <td>{{ child.Niveau_scolaire }}</td>
        <td>{{ child.date_arret_etudes }}</td>
        <td>{{ child.Experience_professionnelle }}</td>
        <td>{{ child.Demande }}</td>
        <td>{{ child.Insertion_scolaire }}</td>
        <td>{{ child.Insertion_salariale }}</td>
        <td>{{ child.Auto_emploi }}</td>
        
        <td><button type="submit" class="btn btn-edit"><a href="{{ url_for('edit_child', id=child.id) }}">Edit</a></button> | 
          <form method="post" action="{{ url_for('delete_child', id=child.id) }}">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
