{% extends 'dashboard.html' %}

{% block title %}View Children{% endblock %}

{% block page_content %}

<div class="sidenav">
  <ul class="navbar">
    <li class="nav-item"><a href="{{ url_for('view_children') }}" class="btn btn-default">Refresh</a></li>
    <li class="nav-item"><a href="{{url_for('add_child')}}">Add Child</a></li>
    <li class="nav-item"><a href="{{ url_for('dashboard') }}">Back</a></li>
  </ul>
</div>

  <div class="row flex-containe">
    <div class="flex-item1">
    <label>Search by Name:</label>
    <form class="search-form" method="GET" action="{{ url_for('view_children') }}">
      <input type="text" name="q" value="{{ search_query }}" placeholder="Search by name...">
      <button type="submit" class="login-button">Search</button>
    </form>
  </div>
  <div class="flex-item1"> 
    <label>Search by Birthday:</label>
    <form class="search-form" method="GET" action="{{ url_for('view_children') }}">
      <input type="date" name="birthdate" value="{{ search_query }}" placeholder="Search by date...">
      <button type="submit" class="login-button">Search</button>
    </form>
  </div>
  <div class="flex-item1">
    <label>Search by Entry Date:</label>
    <form class="search-form" method="GET" action="{{ url_for('view_children') }}">
      <label for="entry_from">From:</label>
      <input type="date" id="entry_from" name="entry_from" value="{{ entry_from_query }}" placeholder="Enter start date...">
      <label for="entry_to">To:</label>
      <input type="date" id="entry_to" name="entry_to" value="{{ entry_to_query }}" placeholder="Enter end date...">
      <button type="submit" class="login-button">Search</button>
    </form>
  </div>
  </div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Contact</th>
        <th scope="col">Sex</th>
        <th scope="col">Birthdate</th>
        <th scope="col">Age</th>
        <th scope="col">Quartier</th>
        <th scope="col">Adresse</th>
        <th scope="col">Family situation</th>
        <th scope="col">Father's profession</th>
        <th scope="col">Mother's profession</th>
        <th scope="col">Number of siblings</th>
        <th scope="col">Health problems</th>
        <th scope="col">Education level</th>
        <th scope="col">Date stopped studying</th>
        <th scope="col">Work experience</th>
        <th scope="col">Job request</th>
        <th scope="col">School insertion</th>
        <th scope="col">Work insertion</th>
        <th scope="col">Self-employment</th>
        <th scope="col">Entry Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for child in children %}
      <tr>
        <td>{{ child.name }}</td>
        <td>{{ child.contact }}</td>
        <td>{{ child.sex }}</td>
        <td>{{ child.Date_naissance }}</td>
        <td>{{ child.age }}</td>
        <td>{{ child.Quartier }}</td>
        <td>{{ child.Adresse }}</td>
        <td>{{ child.situation_familliale }}</td>
        <td>{{ child.Fonction_pere }}</td>
        <td>{{ child.Fonction_mere }}</td>
        <td>{{ child.Fraterie }}</td>
        <td>{{ child.Problemes_sante }}</td>
        <td>{{ child.Niveau_scolaire }}</td>
        <td>{{ child.date_arret_etudes }}</td>
        <td>{{ child.Experience_professionnelle }}</td>
        <td>{{ child.Demande }}</td>
        <td>{{ child.Insertion_scolaire }}</td>
        <td>{{ child.Insertion_salariale }}</td>
        <td>{{ child.Auto_emploi }}</td>
        <td>{{ child.Entry_date }}</td>
        
        <td><a href="{{ url_for('view_family', child_id=child.id) }}" class="btn btn-default">More</a></td>

        <td><button type="submit" class="btn btn-edit"><a href="{{ url_for('edit_child', id=child.id) }}">Edit</a></button> | 
          <form method="post" action="{{ url_for('delete_child', id=child.id) }}">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>

        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
